body {
  background-color: rgb(240, 240, 240);
  font-family:
    "Proza Libre",
    sans-serif;
}

.navi-bar {
  background-color: rgb(86, 43, 129);
  color: white;
  font-family:
    "Open Sans",
    sans-serif;
  padding: 15px;
  font-size: 20px;
}

.entries-header {
  padding-left: 20px;
}

.placeholder {
  width: 100%;
  margin-bottom: 20px;
}

#user-notes,
#user-photo,
#user-title {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

input,
textarea {
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(182, 182, 182);
}

.text-right {
  text-align: right;
}

.purple-save-button {
  background-color: rgb(86, 43, 128);
  color: white;
  font-family:
    "Open Sans",
    sans-serif;
  padding: 10px 15px;
  border: unset;
  border-radius: 6px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding-bottom: 20px;
}

img {
  width: 95%;
}

h2 {
  margin-top: 0;
}

.space-between {
  justify-content: space-between;
}

.purple-new-button {
  background-color: rgb(86, 43, 128);
  color: white;
  font-family:
    "Open Sans",
    sans-serif;
  padding: 10px 15px;
  border: unset;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
}

.new-button-padding {
  padding-top: 35px;
}

.no-entries {
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 50%);
}

.modal {
  background-color: white;
  max-width: 400px;
  max-height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.modal-text {
  text-align: center;
}

.modal-buttons {
  justify-content: space-evenly;
}

.modal-cancel {
  background-color: lightgray;
  color: black;
  font-family:
    "Open Sans",
    sans-serif;
  padding: 10px 15px;
  border: unset;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
}

.modal-confirm {
  background-color: red;
  color: white;
  font-family:
    "Open Sans",
    sans-serif;
  padding: 10px 15px;
  border: unset;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.delete {
  background-color: none;
  color: red;
  border: none;
  text-decoration: underline;
}

.align-left {
  justify-content: left;
}

.align-right {
  justify-content: right;
}
